name: Cotinuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: install npm dependencies
        run: npm install
      - name: run tests
        run: |
          npm run test
          npm run test:e2e
